<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Annotation" verbose="10">
	<parameter name="url" value="http://leaftaps.com/opentaps/"></parameter>
	<parameter name="userid" value="DemoSalesManager"></parameter>
	<parameter name="password" value="crmsfa"></parameter>
	<test name="Lead">
		<classes>

			<class name="week6day1.CreateLead" />

		</classes>
	</test>
</suite> 
